body{
    background-color: black;font-family: arial;
}
h1{
    font-size: 70px;color: yellow;
    text-align: center;
}
#logo{width: 500px;height: 500px;
display: flex;margin: auto;}
img{width: 700px;height: 500px;
display: flex;justify-content: left;}
img{width: 400px;height: 400px;}
#batman{
    display: flex;
    width:  700px;height: 800px;
    margin: auto;
}
.links img{
    width: 100px;height: 100px;
    
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    

}
li{margin-left: 25px;
    margin-top: 20px;
}
a{
    color: yellow;
    font-size:35px;
    text-align: center;
    text-decoration: none;
}

label{color: yellow; font-size: 25px;}
#resposta{
    color: yellow;font-size: 15px;
}
#botao{
    width: 1000px;height: 100px;
    background-color: yellow;color: black;
    margin-left: 600px;font-size: 50px;
}
.video{
    text-align: center;
   
}